<div id="info-panel">
    <p class="centered-text">
  {{#if isGameStatePending}}
    {{#if endType}}
      {{#if cpuWonGame}}
        CPU wins!<br>
      {{else}}
        It's a tie!<br>
      {{/if}}
      Aww...you failed to win <strong>{{gamesWithoutLoss}}</strong> games in a row. Try again?
    {{else}}
        Shall we play a game?
    {{/if}}
  {{else}}
    {{#if isGameStatePlayersTurn}}
      Your turn.
    {{/if}}
  {{/if}}
    </p>
</div>

<div class="container">
  {{#if isGameStatePending}}
      <span id="new-game" {{action 'newGame'}}>New Game</span>
  {{/if}}

  <table id="game-table">
      <tr id="row1">
          <td class="square"></td>
          <td class="square v"></td>
          <td class="square"></td>
      </tr>
      <tr id="row2">
          <td class="square h"></td>
          <td class="square v h"></td>
          <td class="square h"></td>
      </tr>
      <tr id="row3">
          <td class="square"></td>
          <td class="square v"></td>
          <td class="square"></td>
      </tr>
  </table>
</div>